a{
  text-decoration: none;

}
a:visited{
  text-decoration: none;
  color:inherit;

}
a:hover{
  color:black;
  font-size:150%;
}
.navbartext {
  font-size:65%;
  font-family:Verdana black ;
  width:10%;
  color:#ff704d;
  text-decoration:none;
  }

#navbar{
  position:fixed;
  background-color: white;
  /*border-style: solid;*/
  height:8%;
  width:100%;
  z-index: 1;
  text-decoration: none;

}
#titlecell {
  font-size:200%;
  font-family:Verdana Black;
  text-decoration: none;
}

#enterbutton{
  font-size:100%;
  font-family:Verdana Black;
  height:60px;
  width:40%;
  color:white;
  background-color: #ff704d;
  border-color: none;
  border-style: none;
  border-radius: 10px;
  }
#sharebutton{
  font-size:100%;
  font-family:Verdana Black;
  height:60px;
  width:40%;
  color:white;
  background-color: #cccccc;
  border-color: white;
  border-style: solid;
  border-width: thick;
  border-radius: 10px;
  }
#body{
  position:relative;;
  background-color: white;
  text-align: center;
  line-height: 1%;
  background-color:#cccccc;
  padding-top:30%;
  padding-bottom: 40%;
  overflow: hidden;
  font-family: helvetica, arial, sans-serif;
}

/*.maintext {
  font-size:100%;
  font-family:Verdana Black;
  color:#cccccc;
  text-outline:10px white;
}*/

.subtext {
  font-size:175%;
  font-family:Verdana;
}

.footer {
  position:relative;
  text-align: center;
  font-size:175%;
  font-family:Verdana Black;
  background-color:#b3b3b3;
  width:100%;
}
#footercontent{
  background-color:#b3b3b3;
  width:100%;
  padding-top:50%;
}
#image1{
  height:auto;
  width:auto;
  border-radius: 100%;
  /*border-style: solid;
  border-width: medium;;*/
  /*border-color: white;*/
  background-color: white;
}
#image2{
  height:auto;
  width:auto;
  border-radius: 100%;
  /*border-style: solid;
  border-width: medium;;
  border-color: white;*/
  background-color: white;
}
#image3{
  height:auto;
  width:auto;
  border-radius: 100%;
  /*border-style: solid;
  border-width: medium;;
  border-color: white;*/
  background-color: white;
}
#image4{
  height:auto;
  width:auto;
  border-radius: 100%;
  /*border-style: solid;
  border-width: medium;;
  border-color: white;*/
  background-color: white;
}
.footerimage{
  text-align: center;
}
.footertext{
  text-align: left;
  font-size:100%;
  font-family:Verdana black ;
}
.footersubtext{
  text-align: left;
  font-size:75%;
  font-family:Verdana  ;

}

/* =================
Add more styles here!
================= */
